@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&family=Roboto+Condensed:wght@700&family=Zen+Kurenaido&display=swap');
*{
    margin: 0;
}

body{
    scroll-behavior: smooth;
}

h1,h2,p {
    margin-left: 20px;
}

section{
    width: 100%;
    float: left;
    height: 50%;
    position: relative;
}

#container-1{
    background: #4D8BBC;
    padding-bottom: 40px;
}

#container-2{
    background: #EDAC4D;
    padding-bottom: 40px;
}

.nav-bar {    
    width: 100%;
    padding: 5px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #FF0000;   
    background-color:  rgb(202, 0, 0);
}

#container-1 h2{
    font-family: 'Architects Daughter', cursive;
    margin-top: 50px;
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: line-through;
}

#container-1 h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
    text-transform: uppercase;
    color: #EDAC4D;
    letter-spacing: 5px;

}

#container-2 h1 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #E4290A;
    letter-spacing: 5px;
}

#container-2 h2 {
    font-family: 'Zen Kurenaido', sans-serif;
    margin-top: 50px;
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: line-through;
}

p.txt {
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    text-indent: 50px;

}

#container-2 p {
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    text-indent: 50px;
}

.wrapper-img {
    width: 30%;
    float: right;
}