body {
    background: rgb(0,0,0);
    background: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%) fixed;
}

.grid-container {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto;
    justify-items: center;
    
  }
  .grid-item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    align-items:center;
    justify-content:center;
    padding: 30px;
    
  }

  .row-1 {
    height: 100px;
  }

  .row-2 {
    height: 50px;
  }

  .row-3 {
    height: 300px;
  }

  .col-1 {
    width: 10px;
  }

  .col-2 {
    width: 1000px;
 }
 
 .col-3 {
    width: 100px;
 }
