*{
    margin-right: auto;
    margin-left: auto;
}

body {
    background: rgb(17,122,255);
    background: linear-gradient(180deg, rgba(17,122,255,1) 0%, rgba(2,188,255,1) 100%, rgba(0,197,255,0) 100%) fixed; 
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.flex-item > h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.flex-item {
    background-color: rgba(196, 222, 235, 0.52);
    margin: 10px;
    padding: 20px 28px;
    border-radius: 16px;
    text-align: center;
    align-items: center;

    animation: box-animation 2s cubic-bezier(0.45, 0, 0.55, 1) 0s 1 normal forwards;
}

.flex-item > button {
    width: 200px;
    border: #ffffff;
    border-radius: 12px;
    color: #000000;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.main button {
    width: 200px;
    border: #ffffff;
    border-radius: 12px;
    color: #ffffff;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.flex-item:hover {
    background-color: rgba(197, 225, 238, 0.68);
    box-shadow: 2px 6px 54px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 6px 54px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 54px -10px rgba(0,0,0,0.75);

    
}

.main button:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: #242424;
    border: #242424;
    text-decoration: none;
}

.right >  button:hover , .left >  button:hover {
    cursor: pointer;
    background: #f0edf0;
    background-image: -webkit-linear-gradient(top, #f0edf0, #f0f0f0);
    background-image: -moz-linear-gradient(top, #f0edf0, #f0f0f0);
    background-image: -ms-linear-gradient(top, #f0edf0, #f0f0f0);
    background-image: -o-linear-gradient(top, #f0edf0, #f0f0f0);
    background-image: linear-gradient(to bottom, #f0edf0, #f0f0f0);
    text-decoration: none;
}

.main {
    padding: 32px 28px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ul {
    padding: 0;
    list-style-type:none;
}

  @keyframes box-animation {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }